/* Colour Palette
#000000 Black
#FFE74C Yellow
#FC6399 Pink
#87F1FF Blue
#5B2B96 Purple
*/

html {box-sizing: border-box;}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {background: #000000;
margin: 0}

a:link {
  color: #ffe74c;
  text-decoration: none;

}

a:hover {
  color: #FC6399;
}

a:visited {
  color: #fc6399;
}

#header {
    background-color: #5b2b96;
    text-align: center;
    padding: 3px;
    margin: 0px;
}

h1 {
  font-family: 'Sniglet', cursive;
font-size: 80px;
color: #ff6399;
text-shadow: 6px 2px #ffe74c;
margin: 10px;
}

nav ul {
    list-style: none;
    font-size: 25px;
    background-color: #87F1FF;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline-block;
    background-color: #FFE74C;
    padding: 10px;
}

nav a {
  font-family: 'Sniglet', cursive;
}


p {
font-family: 'Nanum Gothic', sans-serif;
  color: white;

}

.wrapper {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
}
.hamburger, .close{
        display: none;
 }

@media(max-width: 800px){
 	.hamburger, .close{
         display: block;
         font-size: 35px;
         font-family: "Lucida Sans Unicode", "Arial Unicode MS";
  }
  .main-nav.open-nav {
  	top: 0px;
  	right: 0px;
  	padding: 2% 20%;
  	z-index: 2;
  	background: #000000;
  	width: 100%;
  	height: 10vh;
    }
    .main-nav a {
  	  color: #fc6399;
    }
    .main-nav {
    position: fixed;
    top: -100vh;
   }
}



footer {
width: auto;
padding: 10px;
background: #5B2b96;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 10px;
  color: #000000;
  }

footer p {color: #000000}
